<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Server" value="EBRScGYcGxtwzCdGX5W2Iw==" />
        <add key="Portal" value="9Y7qV7mNptU=" />
        <add key="SQL_User" value="0QzuZXyZBic=" />
        <add key="SQL_PWD" value="lRpEHwGkLXh4vjU3mhxIBw==" />
        <add key="ConnStr" value="BIYbvyGUEc51noVLg/x7Uiw5ovsGwMaqH2S3opsk3pnqUm/gVVckEZGFkIhmzistFrHXt4vFab8=" />
        <add key="ZTNumber" value="3" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
